

/*Full wrapper for intro to cover whole screen*/

#intro-container {
  position: absolute;
  top: 0;
  min-height: 55vh;
  height: 100vh;
  background-color: var(--black);
  display: flex; 
  width: 100vw;
  max-width: 100%; 
  flex-direction: column;
  /*   line-height: 100vh; */
  /*   width:100%;
  height:96vh;
border:solid; */
}



/*All CSS for header*/
#header {

  display: flex;
  flex-direction: column;
  background-color: var(--darkblue);
  align-items: center;
  position: relative;
  height: 10vh;
  width: 100%;
  margin-bottom: 5vh;
  position: -webkit-sticky;
  position: sticky;

  /**background-image: url(computer2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;**/
}

.fixed-nav {
  position: fixed;
}


.name-header-wrapper {
  display: flex;
  margin-right: auto;

}

.fa-home {
  transition: all .2s ease-in-out;
  font-size: 0.6em;
  color: var(--offwhite);
  height: 100%;
}


.delete {
  visibility: hidden;
}
.fa-home:hover {
  color: var(--purple);
  transform: scale(1.2);

}

.home-wrapper {

  height: 100%;
  margin-right: 10px;
  width: 100px;
}

.name-header-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.5em;
  line-height: 22px;
  color: var(--offwhite);
 
/* identical to box height */

letter-spacing: 0.05em;
}
#links-container {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  height: auto;
  min-height: 10vh;
 
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;

  flex-wrap: wrap;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
  flex-direction: row;
  align-self: flex-start;
}

.fa-address-book {
  transition: all .2s ease-in-out;
  font-size: 0.6em;
  color: var(--offwhite);
}

.fa-address-book:hover {
  color: var(--purple);
  transform: scale(1.2);
}

.fa-file-download {
  transition: all .2s ease-in-out;
  font-size: 0.6em;
  color: var(--offwhite);
}

.fa-file-download:hover {
  color: var(--purple);
  transform: scale(1.2);
}

.fa-linkedin {
  transition: all .2s ease-in-out;
  font-size: 0.6em;
  color: var(--offwhite);
}

.fa-linkedin:hover {
  color: var(--purple);
  transform: scale(1.2);
}

.fa-github-square {
  font-size: 0.6em;
  color: var(--offwhite);
  transition: transform .2s;
}

.fa-github-square:hover {
  color: var(--purple);
  transform: scale(1.2);
}

.fa-facebook-square {
  transition: all .2s ease-in-out;
  font-size: 0.6em;
  color: var(--offwhite);
}

.fa-facebook-square:hover {
  color: var(--purple);
  transform: scale(1.2);
}


.animated-container {
  display: flex;

}

.flex {
  display: flex;
}

/*End Header CSS*/

/*Start Main Body CSS*/

#main-container { 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  margin-bottom: 10vh;
 
}

#main-container h2 {
  font-size: .5em; 
}

.image-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;

  flex-wrap: wrap;

}

.img {
  height: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-height: 2.5em;
  max-width: 10vw;
  min-width: 100px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;

}

#name-header {
  font-weight: 800;
  line-height: 1.1;
  font-family: 'Roboto Slab', sans-serif;
  letter-spacing: 0.05em;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 1em;
}

#first-header {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 36px;
}
#mid-header {
  letter-spacing: 0.05em;
  font-weight: 400;
  line-height: 36px;
}
#last-header {
  letter-spacing: 0.05em;
  line-height: 36px;
  font-weight: 600;
}

#span-font {
  font-weight: 600 !important;
}

#first-header:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15vw;
  padding-top: 20px;
  border-bottom: 5px solid var(--red);
  margin-bottom: 10px;
}

#last-header:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15vw;
  border-bottom: 5px solid var(--red);
  font-weight: 600;
  margin-top: 10px;
}



/*End Main Body CSS*/

/*Start Footer CSS*/

#footer {
  position: relative;
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  flex-wrap: wrap;
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));*/
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.arrow-container {
   padding: 5px;
}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: var(--offwhite);
  border-width: 0px 5px 5px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

/*End Footer CSS*/


/* Start media queries */

@media screen and (max-width: 576px) {
  
  #header {
    margin-bottom: 0;
  }
  .fa-address-book {
    font-size: 0.6em;
  }
  .fa-file-download {
  font-size: 0.6em;
 }
 .fa-linkedin {
  font-size: 0.6em;
 }
 .fa-github-square {
  font-size: 0.6em;
 }
 .fa-facebook-square {
  font-size: 0.6em;
 }
 #main-container {
  padding: 0px 20px;
 }
 .name-header-wrapper {
  visibility: hidden;
  width: 0;
  height: 0;
  margin-right: 0;
  align-items: center;
 }
 #first-header {
  line-height: 1.2em;
 }
 #mid-header {
  line-height: 1.2em;
 }
 #last-header{
  line-height: 1.2em;
 }
 #name-header {
  margin-bottom: 0px;
  font-size: 0.6em;
 }
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  

}

@media screen (max-width: 992px) {

}

@media screen and (max-width: 1000px) {
  #header {
    background-color: var(--black);
    height: 15%;
  }
  .icon-container {
    align-items: center;
    justify-content: center;
  }
  #footer {
    align-items: flex-start;
  }
  #main-container{
    margin-top: 10%;
  }
}


@media screen and (min-width: 1921px) {
  #header {
    background-color: var(--darkblue);
    height: 15%;
  }
  .icon-container {
    align-items: center;
    justify-content: center;
  }
  #footer {
    align-items: flex-start;
  }
  #main-container{
    margin-top: 5%;
  }
  #name-header {
  font-weight: 800;
  line-height: 1.1;
  font-family: 'Roboto Slab', sans-serif;
  letter-spacing: 0.05em;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1em;
}
}

/* End media queries*/