.projects-wrapper {
  min-height: 55vh;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  /*   line-height: 100vh; */
  /*   width:100%;
  height:96vh;
border:solid; */
}

.test-wrapper { 
  display: flex;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCC;
}
.big {
  font-size : 10em;
}