:root {
  /*Blue, peach, pink, off-white*/
  --darkblue: #33546D;
  --blue: #7FA7B8;
  --offwhite: #F7EFED;
  --red: #F1485B;
  --black: #0D1b2A;
}

html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

.heading {
  font-family: 'Raleway', sans-serif;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #202952;
  padding: 0 10px;
}

a:visited { text-decoration: none; color: none; }
a:hover { text-decoration: none; color: red; }
a:focus { text-decoration: none; color: none; }
a:active { text-decoration: none; color: red }
a:link { text-decoration: none; color: none}


a {
   text-decoration:none;
   color: black;
}